*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Kufam', cursive;
}

div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightsalmon;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition: width 2s, height 2s, transform 5s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55)
}

div:hover{
    width: 1200px;
    height: 50px;
}