*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Kufam', cursive;
    background-color: darkgray;
}


p{ 
    column-gap: 60px;
    column-rule-style: dashed;
    column-count: 7;
    column-rule-width: 10px;
    column-rule-color: lightgray;
    column-span: all;
    column-fill: balance;
    column-width: 100px;
}