*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Kufam', cursive;
}

.wrapper{
    background-color: lightslategrey;
    width: 100vw;
    max-width: 1200px;
    height: 140vh;
    margin:0 auto;
}

h1{
    color: mintcream;
    font-size: 10vmin;
}

header{
    padding: 10vmin;
    background: #000800;
    margin-bottom: 2vmin;
    text-align: justify;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery__item{
    margin: 2vmin;
}