*{margin: 0;padding: 0}

html{
    font-family: 'Kufam', serif;
}

#page-title{
    text-align: center;
    padding: 50px;
    font-weight: 400;
}

.container{
    width: 80%;
    background: lightpink;
    height:400px;
    margin: 0 auto 0 auto;
}