*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Kufam', cursive;
}

body{
    justify-content: center;
    align-items: center;
}

div{
    background-color: lightgoldenrodyellow;
    padding: 3em;
    box-shadow: 0 0 3em rgb(0,0,0,.15);
    width: min(500px, 60%);
}

p{
    width:clamp(300px, 50%, 20em);
}

.personal{
    font-size: 20%;
}