*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Kufam', cursive;
    font-size: 50px;
    text-align: center;
}

.lower{
    font-variant: small-caps;
}

.upper{
    font-variant-caps: unicase;
    font-variant-east-asian: full-width;
    font-variant-ligatures: contextual;
}