*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Kufam', cursive;
}

body{
    background-image: url(image/fd3ccd7b49e366b4206f5ac7f8fa8dac.gif);
    
  
    background-position: center center;  
}

h1{
    color:grey;
}